<h2>Create New Figure</h2>

<form method="POST" action="/figures">
 <p> Name:<input type="text" name="figure[name]" id="figure_name"> </p>
 <br>
 <h4>Titles</h4>
  <% Title.all.each do |title| %>
    <input <%= title.name %> type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>">
  <%end%>
  
  <h4>Create New Title:</h4>
   <p> <input type="text" name="title[name]" id="title_name"></p>
  
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
